<header class="app-header">
  <a routerLink="/" class="app-header__brand">Task Manager UI</a>
  <nav class="app-header__nav">
    <ul class="app-header__list">
      <li *ngIf="!isAuthenticated()">
        <a routerLink="/" routerLinkActive="active">Back Home</a>
      </li>
      <li *ngIf="isAuthenticated()">
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li *ngIf="isAuthenticated()">
        <a role="button" (click)="signOut()">Sign Out</a>
      </li>
    </ul>
  </nav>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
